<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <gazebo>
    <plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">
      <left_joint>drivewhl_l_joint</left_joint>
      <right_joint>drivewhl_r_joint</right_joint>
      <wheel_separation>0.40</wheel_separation>
      <wheel_radius>0.10</wheel_radius>
      <odom_publish_frequency>50</odom_publish_frequency>
      <odom_topic>/odom</odom_topic>
      <tf_topic>/tf</tf_topic>
      <frame_id>odom</frame_id>
      <child_frame_id>base_link</child_frame_id>
      <topic>/cmd_vel</topic>
      <max_linear_velocity>1.0</max_linear_velocity>
      <max_angular_velocity>2.0</max_angular_velocity>
      <max_linear_acceleration>2.0</max_linear_acceleration>
      <max_angular_acceleration>4.0</max_angular_acceleration>
    </plugin>
  </gazebo>
</robot>